<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default col-md-12">
            <img src="./img/empty_profile.gif" class="img-circle" id="account-image">
            <div id="account-name"> JUNSU CHOI </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div
                ng-repeat="card in [1,2,3,4,5,6,7]" 
                class="panel panel-default col-md-5 profile-card"
                ng-class-even="'col-md-offset-2'">

            </div>
        </div>
        
    </div>
</div>
